<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <form id="reg-form">
      <label>First Name:</label>
      <input data-key="firstName" type="text" />

      <label>Last Name:</label>
      <input data-key="lastName" type="text" />
      <label>Email:</label>
      <input data-key="email" type="email" />
      <br />
      <label>Password</label>
      <input data-key="password" type="password" />
      <button type="submit">Login</button>
    </form>
    <script src="/javascript/app.js"></script>
  </body>
</html>
